{% extends 'layout.html' %}
{% load static %}
{% load filters %}

{% block content %} 
<section id="central">
    {% include 'leftSidebar.html' %}
    <div id="content">
        <h1 class="page_title welcome">Welcome</h1>
        <div class="carousel-container">
            <div class="inner-carousel">
                <div class="track">
                    {% if items %} 
                        {% for item in items %} 
                            <div class="card-container">
                                <a href={% url 'topicDetail' item.id %}>
                                    <div class="card">
                                        <img src={% static item.image.url %} title={{item.name}} alt={{item.description}}>
                                        <p>Precio: {{ item.price }}</p>
                                    </div>
                                </a>
                            </div>      
                            {% empty %}
                            <p> No data </p>
                        {% endfor %}
                    {% endif %}                 
                </div>
                <div class="nav">
                <button class="prev"><i class="fas fa-arrow-left fa-2x"><strong><</strong></i></button>
                <button class="next"><i class="fas fa-arrow-right fa-2x"><strong>></strong></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

